@media only screen and (max-width: 640px) {
    .title {
        font-size: 3rem;
        line-height: 1;
    }

    .cal {
        font-size: 2rem/* 60px */;
        line-height: 1;
    }

    .recipeInfo {
        gap: 10px;
        h1 {
            font-size: 20px;
        }
    }

    .healthList {
        h1 {
            font-size: 20px;
            line-height: 1;
        }
    }

    .second {
        flex-direction: column;
        .secondInside {
            width: 100%;
        }
    }

    .outsideRecipeInfo {
        padding: 15px;
        width: 100%;
    }

    .imageDiv {
        flex-direction: column;
    }

    .recipeImage {
        width: 100%;
    }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
    .title {
        font-size: 3.5rem;
        line-height: 1;
    }

    .cal {
        font-size: 2.5rem/* 60px */;
        line-height: 1;
    }

    .recipeInfo {
        gap: 20px;
        h1 {
            font-size: 25px;
        }
    }

    .healthList {
        h1 {
            font-size: 25px;
            line-height: 1;
        }
    }

    .second {
        flex-direction: column;
        .secondInside {
            width: 100%;
        }
    }

    .outsideRecipeInfo {
        padding: 20px;
        width: 50%;
    }

    .imageDiv {
        flex-direction: row;
    }

    .recipeImage {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .title {
        font-size: 4rem;
        line-height: 1;
    }

    .cal {
        font-size: 3rem/* 60px */;
        line-height: 1;
    }

    .recipeInfo {
        gap: 30px;
        h1 {
            font-size: 35px;
        }
    }

    .healthList {
        h1 {
            font-size: 25px;
            line-height: 1;
        }
    }

    .second {
        flex-direction: row;
        .secondInside {
            width: 50%;
        }
    }

    .outsideRecipeInfo {
        padding: 32px;
        width: 50%;
    }

    .imageDiv {
        flex-direction: row;
    }

    .recipeImage {
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .title {
        font-size: 4.5rem;
        line-height: 1;
    }

    .cal {
        font-size: 3.75rem/* 60px */;
        line-height: 1;
    }

    .recipeInfo {
        gap: 40px;
        h1 {
            font-size: 50px;
        }
    }

    .healthList {
        h1 {
            font-size: 35px;
            line-height: 1;
        }
    }

    .second {
        flex-direction: row;
        .secondInside {
            width: 50%;
        }
    }

    .outsideRecipeInfo {
        padding: 32px;
        width: 50%;
    }

    .imageDiv {
        flex-direction: row;
    }

    .recipeImage {
        width: 50%;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1536px) {
    .title {
        font-size: 4.5rem;
        line-height: 1;
    }

    .cal {
        font-size: 3.75rem/* 60px */;
        line-height: 1;
    }

    .recipeInfo {
        gap: 40px;
        h1 {
            font-size: 60px;
        }
    }

    .healthList {
        h1 {
            font-size: 40px;
            line-height: 1;
        }
    }

    .second {
        flex-direction: row;
        .secondInside {
            width: 50%;
        }
    }

    .outsideRecipeInfo {
        padding: 32px;
        width: 50%;
    }

    .imageDiv {
        flex-direction: row;
    }

    .recipeImage {
        width: 50%;
    }
}

@media only screen and (min-width: 1536px) {
    .title {
        font-size: 4.5rem;
        line-height: 1;
    }

    .cal {
        font-size: 3.75rem/* 60px */;
        line-height: 1;
    }

    .recipeInfo {
        gap: 40px;
        h1 {
            font-size: 60px;
        }
    }

    .healthList {
        h1 {
            font-size: 40px;
            line-height: 1;
        }
    }

    .second {
        flex-direction: row;
        .secondInside {
            width: 50%;
        }
    }

    .outsideRecipeInfo {
        padding: 32px;
        width: 50%;
    }

    .imageDiv {
        flex-direction: row;
    }

    .recipeImage {
        width: 50%;
    }
}

.second {
    display: flex;
}

.healthList {
    animation: 3s ease-out 0s 1 fadeIn;
}

.listGrid {
    grid-template-columns: repeat(2, auto);
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.recipeInfo {
    display: grid;
    grid-template-columns: repeat(2, auto);
    animation: 3s ease-out 0s 1 fadeIn;
}

.head {
    background-color: white;
}

.recipeTitle {
    animation: 3s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}